langchain>=0.2.0,<0.3.0
langchain-core>=0.2.0,<0.3.0
langchain-community>=0.2.0,<0.3.0
langchain-huggingface>=0.0.3,<0.1.0
langchain-chroma>=0.1.0,<0.2.0
langchain-ollama>=0.1.0,<0.2.0

transformers>=4.39.0
accelerate>=0.28.0
sentence-transformers
huggingface_hub

chromadb>=0.4.24
rank-bm25
beautifulsoup4
tqdm
nltk
numpy
torch
bs4
pickle5
